@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

*{ 
    margin: 0;
    padding: none;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    font-size: 16px;
    font-family: "Cardo", serif;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list{
    display: flex;
    gap: 4rem;
    list-style: none;
    align-items: center;
}

.nav__item{
    padding: 20px;
}

.nav__link{
    color: black;
    text-decoration: none;
    border-radius: 6px;
}
  
.negrita{
  font-weight: 700;
  font-style: normal;
}

.header_boton{
  font-weight: bold;
  border: 2px solid #000;
  background-color: transparent;
  color: #000;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;
  margin-left: 300px;
}

.section-grupo1{
  background-image: url(Grupo\ 1.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

.section-grupo1 h1{
  font-size: 5.2rem; 
  margin-bottom: 20px;
}

.section-grupo1 p{
  font-size: 15px;
  font-weight: bold;
}

.section-grupo1 a {
  display: inline-block;
  margin-top: 20px; 
  padding: 10px; 
  background-color: #000000; 
  color: white; 
  font-weight: bold; 
  text-decoration: none; 
  border-radius: 5px; 
}

.section-grupo1 img {
  width: 500px; 
  height: auto;
}

.grupo__2{
  margin-top: 100px;
  background-color: #000; 
  color: white; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 300px;
  gap: 20px;
  background-image: url(Grupo_1-removebg-preview.png);
  background-repeat: no-repeat;
}

.grupo__2 h1{
  font-weight: bold;
  font-size: 50px;
}

.grupo__2 a {
  color: white; 
  border: 2px solid white; 
  background-color: black; 
  padding: 10px 20px; 
  text-decoration: none; 
  display: inline-block;
  border-radius: 5px;
}

.card--grupo2 {
  display: flex; 
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 120px;
}

.card--grupo2 div {
  flex: 1;
  min-width: 200px;
}

.card--grupo2 h1 {
  font-weight: bold;
}

.grupo__3{
  padding-top: 400px;
}

.grupo__3 div {
  margin-bottom: 20px; 
}

.grupo__3 img {
  display: block; 
  margin: 0 auto; 
  max-width: 100%;
  padding-top: 80px;
}

.grupo__3 p {
  text-align: center; 
  color: #000;
  font-weight: bold;
  font-size: 20px; 
  margin-top: 10px;
  padding-top: 80px;
}

.contenedor__4{
  display: flex;
  justify-content: space-between;
}

.contenedor-izquierdo, .contenedor-derecho {
  flex: 1;
}

.contenedor-derecho {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contenedor-derecho img, .contenedor-derecho h1, .contenedor-derecho p, .contenedor-derecho i {
  margin: 10px 0; 
}

.bi-arrow-right {
  font-size: 5em; 
  padding-left: 480px;
}

.contenedor-derecho span {
  border-bottom: 2px solid black; 
  display: inline-block;  
}

.contenedor-derecho p{
  font-size: 15px;
  font-weight: 700;
}

.grupo__5 {
  margin-top: 100px;
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
  height: 120vh;
  gap: 20px; 
}

.grupo__5 .texto {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 40px;
}

.grupo__5 img {
  height: 400px;
  width: auto;
}

.grupo__5 h1, .grupo__5 h2, .grupo__5 p {
  margin: 0;
  align-self: center;
}

.grupo__5 h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 0; 
  margin-bottom: 0; 
}

.grupo__5 h2 {
  font-size: 1.5em;
}

.grupo__5 p {
  font-size: 1em;
}

.grupo__6 {
  padding-top: 150px;
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: start; 
}

.grupo__6 .texto--6 {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 20px; 
}

.grupo__6 h1, .grupo__6 p {
  font-weight: bold; 
}

.grupo__6 * {
  font-weight: bold; 
}

.grupo__6 h1 {
  font-size: 2.5em; 
  text-align: center; 
  margin: 0 0 20px 0; 
}

.grupo__6 p {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.texto--6 p {
  margin-top: 10px; 
  margin-bottom: 10px; 
}

.grupo__6 .imagen {
  align-self: center; 
}

.grupo__6 h1 {
  font-size: 2.5em; 
  font-weight: bold;
  width: 100%; 
  text-align: center; 
  margin: 0 0 20px 0; 
}

.grupo__6 hr {
  height: 3px;
  border: none; 
  background-color: black; 
  width: 100%; 
}

.grupo__6 .bi {
  display: inline-block; 
  margin-left: 10px; 
}

.grupo__6 p {
  font-size: 1em; 
}

.texto--6 .bi.bi-plus-lg {
  font-size: 24px; 
  color: black;
}

.grupo__6 .imagen img {
  height: 500px; 
  width: auto;
}

.grupo__7 {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  margin-bottom: 20px; 
}

.grupo__7 h1 {
  text-align: center; 
  width: 100%; 
  font-weight: 700;
  font-size: 45px;
}


.testimonials-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 10px; 
}

.testimonial-card {
  border: 4px solid black; 
  border-radius: 10px; 
  padding: 30px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 300px; 
  min-height: 200px;
}

.arrow-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.icon-person {
  font-size: 3em; 
  margin-bottom: 10px; 
}

.arrow-left, .arrow-right {
  font-size: 4em; 
  cursor: pointer;
}

.grupo__8 {
  padding-top: 140px;
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: stretch; 
}

.contenido-izquierdo, .imagen-formulario {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  padding: 20px;
  flex: 1; 
}

.formulario {
  display: flex;
  flex-direction: column; 
  width: 100%; 
} 

.contenido-izquierdo {
  display: flex;
  flex-direction: column;
  padding: 20px; 
}

.titulo-formulario {
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
}

.input-formulario, .textarea-formulario {
  font-weight: bold; 
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 10px; 
}

.boton-formulario {
  background-color: black;
  color: white; 
  cursor: pointer; 
  border-radius: 5px;
  padding: 10px;
  border: none; 
}

.imagen-formulario img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.imagen-formulario img {
  max-width: 100%; 
  height: auto; 
}

/* footer */
footer {
  background-image: url(fondo\ footer.png);
  padding: 100px 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Permite que las columnas se ajusten según el ancho */
}

.footer-column {
  flex: 1;
  min-width: 160px; /* Asegura un ancho mínimo para cada columna */
  color: #000;
  text-align: left;
  margin-bottom: 20px; /* Espacio entre columnas y el texto de derechos */
}

.footer-column h2, .footer-column ul li a {
  font-size: 1.2em;
  color: #000;
}

.footer-column ul, .footer-column p {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

/* Centra el texto de derechos reservados debajo de todas las columnas */
footer > p {
  text-align: center;
  color: #000;
  margin-top: 20px; /* Espacio entre las columnas y este texto */
}

@media (max-width: 600px) {
  .header__menu,
  .nav__list {
    flex-direction: column;
    gap: 20px;
  }

  .header_boton {
    margin-left: 0;
    margin-top: 20px;
  }

  .section-grupo1 {
    flex-direction: column;
    padding-top: 20px;
  }

  .section-grupo1 img {
    width: 100%; 
    max-width: 300px;
    margin-top: 20px;
  }

  .section-grupo1 h1 {
    font-size: 2.5rem;
  }

  .section-grupo1 p,
  .section-grupo1 a {
    font-size: 14px;
  }

  .grupo__2 {
    height: auto;
    padding-top: 20px;
    background-size: cover;
  }

  .grupo__2 h1,
  .grupo__2 a {
    font-size: 20px;
  }

  .card--grupo2 {
    padding-top: 20px;
    gap: 10px;
  }

  .card--grupo2 div {
    flex-basis: 100%;
  }

  .grupo__3 {
    padding-top: 20px;
  }

  .grupo__3 img {
    padding-top: 20px;
  }

  .grupo__3 p {
    padding-top: 20px;
  }

  .grupo__5,
  .grupo__6 {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 20px;
  }

  .grupo__5 img,
  .grupo__6 .imagen img {
    width: 100%;
    max-width: 300px;
  }

  .bi-arrow-right {
    padding-left: 0;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    text-align: center;
    margin-bottom: 20px;
  }
}